<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>



    <div class="w3-card-2" data-th-each="d: ${detail}">
        <div class="w3-display-container w3-text">
            <img data-th-src="@{https://image.tmdb.org/t/p/original/{backdrop_path}(backdrop_path=${d.backdrop_path})}"
                class="card-img-top" alt="backdrop_path" style="object-fit: cover; width: 100%; height: 70vh; margin: auto;
            opacity:0.3;filter:alpha(opacity=40); background:url(image.jpg)">

            <div class="w3-display-left w3-container">
                <img data-th-src="@{https://image.tmdb.org/t/p/original/{poster_path}(poster_path=${d.poster_path})}"
                    class="w3-round" alt="..." style="max-width: 60vw; max-height: 60vh; margin: auto;">
            </div>

            <div class="w3-large w3-display-topmiddle w3-padding">
                <h1><b data-th-text="${d.original_title}"></b></h1>
                <h5><i data-th-text="${d.tagline}"></i></h5>
                <!-- <p class="card-text"><small class="text-muted" data-th-text="${d.tagline}"></small></p> -->
            </div>

            <!-- might use 'bottommiddle' -->
            <div class="w3-large w3-display-middle w3-padding">
                <br>
                <h3><b>Overview</b></h3>
                <p class="card-text" data-th-text="${d.overview}"></p>
                <b>Status</b>
                <p class="card-text" data-th-text="${d.status}"></p>
                <b>Language</b>
                <p class="card-text" data-th-text="${d.name}"></p>
            </div>

            <!-- Ordering off -->
            <!-- <div class="w3-display-right w3-container">
                            <p>Budget</p>
                            <p class="card-text" data-th-text="${d.budget}"></p>
                            <p>Revenue</p>
                            <p class="card-text" data-th-text="${d.revenue}"></p>
                        </div> -->


        </div>
    </div>


</body>

</html>