<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trending - M.Database</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body style="background: rgb(237, 234, 234)">

  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <!-- <img src="../images/logo1.png" height="70px" width="100px" /> -->
        <!-- <span th:text="${name}"></span> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
        <span class="fw-bold text-secondary"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Popular Movies</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li> -->
        </ul>

        <form class="d-flex" role="search" method="GET" action="/search">
          <input class="form-control me-2" type="search" placeholder="Search movie" aria-label="Search" name="word"
            id="word" required>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

      </div>
    </div>
  </nav>
  <br>

  <!-- End of NAVBAR -->

  <div class="container">
    <div class="row gy-5 padding-bottom: 10%">
      <div data-th-each="m: ${movies}" class="col-md-3">

        <div class="card h-100" style="max-width: 17rem;">
          <a class="w3-text-black" style="text-decoration: none" th:href="@{'/search/' + ${m.id}}">
          <img data-th-src="@{https://image.tmdb.org/t/p/original/{poster_path}(poster_path=${m.poster_path})}"
            class="card-img-top" alt="...">
          </a>

          <div class="card-body">
            <a class="w3-text-black" style="text-decoration: none" th:href="@{'/search/' + ${m.id}}">
              <h5><b>
                  <span data-th-text="${m.title}"></span>
                  <span data-th-text="${m.original_title}"></span>
                  Movie Title 
                </b></h5>
            </a>
            <p class="card-text">
              <span data-th-text="${m.overview}" style="overflow: hidden;
                          text-overflow: ellipsis;
                          display: -webkit-box;
                          line-height: 24px;    
                          max-height: 100px;     
                          -webkit-line-clamp: 3; 
                          -webkit-box-orient: vertical;"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

</body>

</html>