<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <style>
        .cart {
            width: 20vw;
            border: 1px black solid;
            padding: 10px;
        }
    </style>
</head>

<body>
    <h1>Popular Movies</h1>
    <hr>
    <!-- <form method="POST" action="/articles"> -->
    <div data-th-each="m: ${movies}">
        <table>
            <tr class="cart">
                <td>
                    <!-- <img data-th-src="${w.imageurl}" alt="" class="image-fluid" width="150" height="150"> -->
                    
                    <span>Title: </span><span data-th-text="${m.original_title}"></span>
                    <!-- <span>ID: </span><span data-th-text="${m.id}"></span> -->
                    <br>
                    <span><img src="https://image.tmdb.org/t/p/w300/{{m.poster_path}}" alt=""></span> 
                    <!-- <span><img data-th-src="@{https://image.tmdb.org/t/p/w154/${m.poster_path}}" alt=""></span>  -->

                    <!-- <span><img data-th-src="@{https://image.tmdb.org/t/p/w300/{poster_path}(poster_path=${m.poster_path})}" alt=""></span>  -->
                    <!-- <span>Language: </span><span data-th-text="${m.original_language}"></span> -->
                    <br><br>
                    <span>Overview: </span><br><span data-th-text="${m.overview}"></span>
                    <br><br>
                    <span>Release date: </span><span data-th-text="${m.release_date}"></span>
                    <br>
                    <span>Popularity: </span><span data-th-text="${m.popularity}"></span>
                    <br>
                    <span>Avg vote: </span><span data-th-text="${m.vote_average}"></span>
                    <!-- <span>Vote count: </span><span data-th-text="${m.vote_count}"></span> -->
                    <br><br><hr>
                    <!-- 
                        <span>Categories:</span><span data-th-text="${w.categories}"></span>
                        <br><br>
                        <span>Tags:</span><span data-th-text="${w.tags}"></span>
                        <br><br>
                        <span>Published:</span><span data-th-text="${w.published_on}"></span>
                        <br><br>
                        <span> <a th:href="${w.url}">Link</a> </span>
                        <br><br>
                        <form action="/action_page.php">

                        <label for="contents">Save</label>
                        <input type="checkbox" id="contents" name="contents" > -->
                </td>
            </tr>
        </table>
    </div>
    <!-- </form> -->
</body>

</html>