<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <style>
        .cart {
				width: 20vw;
				border: 1px black solid;
				padding: 10px;
			}
    </style>
</head>

<body>
    <h1>Movies</h1>
    <hr>

    <!-- <form method="POST" action="/articles"> -->
        <div data-th-each="m: ${movie}">
            <table>
                <tr class="cart">
                    <td>
                        <!-- <img data-th-src="${w.imageurl}" alt="" class="image-fluid" width="150" height="150"> -->
                        <br><br>
                        <span>ID:</span><span data-th-text="${m.id}"></span>
                        <br>
                        <span data-th-text="${m.original_language}"></span>
                        <span data-th-text="${m.original_title}"></span>
                        <br><br>
                        <span data-th-text="${m.overview}"></span>
                        <span data-th-text="${m.popularity}"></span>
                        <!-- <span data-th-text="${m.poster_path}"></span> -->
                        <span data-th-text="${m.release_date}"></span>
                        <span data-th-text="${m.title}"></span>
                        <span data-th-text="${m.video}"></span>
                        <span data-th-text="${m.vote_average}"></span>
                        <span data-th-text="${m.vote_count}"></span>
<!-- 
                        <span>Categories:</span><span data-th-text="${w.categories}"></span>
                        <br><br>
                        <span>Tags:</span><span data-th-text="${w.tags}"></span>
                        <br><br>
                        <span>Published:</span><span data-th-text="${w.published_on}"></span>
                        <br><br>
                        <span> <a th:href="${w.url}">Link</a> </span>
                        <br><br>
                        <form action="/action_page.php">

                        <label for="contents">Save</label>
                        <input type="checkbox" id="contents" name="contents" > -->
                    </td>
                </tr>
            </table>
        </div>
    <!-- </form> -->
</body>

</html>