<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<style>
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<body>
    <h2>Log in to your account</h2>

    <!-- nak kasi middle + light outline + POST Mapping -->

     <form method="POST" class="flex"><!-- action="processNumber" -->
        Log in to your account <br><br>
        Email Address: <br>
        <input type="email" name="email" /><br>
        Password: <br>
        <input type="password" name="password" /><br><br>
        <input type="submit" value="Login" />
    </form>
</body>

</html>