<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/login-register.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<style>
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<body>


    <div class="container">
        <div class="modal fade login" id="loginModal">
            <div class="modal-dialog login animated">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Login with</h2>
                    </div>

                    <div class="modal-body">
                        <div class="box">
                            <div class="content">
                                <div class="form loginBox" style="font-size: larger;">
                                    <form method="POST" action="/login" accept-charset="UTF-8">
                                        <input id="email" class="form-control form-control-lg" type="text" placeholder="Username"
                                            name="name" required>
                                        <input id="password" class="form-control form-control-lg" type="password" placeholder="Password"
                                            name="password" required>
                                            <button class="btn btn-outline-info" type="submit">Login</button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>